:root{
  --black: #0b0b0b;
  --gold: #f1c232;
  --red: #c0392b;
  --white: #ffffff;
  --gray: #bdbdbd;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: var(--black);
  color: var(--white);
}

/* HEADER */
.header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background: rgba(11,11,11,.95);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  border-bottom: 1px solid #222;
  z-index: 1000;
}

.logo-area{
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
}

.logo-area img{
  width: 40px;
}

.logo-area .p{
  color: var(--gold);
}
.logo-area .pq{
  color: var(--red);
}

.navbar{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-left,
.nav-right{
  display: flex;
  align-items: center;
  gap: 20px;
}

/* LINKS */
.navbar a{
  color: var(--white);
  text-decoration: none;
  font-weight: 500;
}

.navbar a:hover{
  color: var(--gold);
}

/* DROPDOWN */
.dropdown{
  position: relative;
}

#init .dropdown{
  margin-left: 5px;
}

.dropdown-content{
  display: none;
  position: absolute;
  top: 17px;
  left: 0;
  background: #111;
  border: 1px solid #222;
  border-radius: 10px;
  min-width: 180px;
  z-index: 999;
}

.dropdown-content a{
  display: block;
  padding: 10px 15px;
  color: white;
  font-size: 14px;
}

.dropdown-content a:hover{
  background: var(--gold);
  color: black;
}

/* MOSTRAR DROPDOWN */
.dropdown:hover .dropdown-content{
  display: block;
}

/* NOTIFICAÇÃO */
.notificar img{
  width: 22px;
}



/* HOME */
.home{
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 120px 10%;
   background: radial-gradient(circle at top left, #050505, transparent 40%),
    radial-gradient(circle at bottom right, #000000, transparent 45%),
    linear-gradient(180deg, rgba(120, 0, 255, 0.25), rgba(0, 120, 255, 0.18));
  color: #ffffff;
}

.home h1{
  font-size: 52px;
  color: var(--gold);
}

.home h1 span{
  color: var(--red);
}

.home p{
  margin: 20px 0;
  max-width: 600px;
}

.actions{
  margin-top: 30px;
}

.btn{
  padding: 14px 32px;
  border-radius: 30px;
  text-decoration: none;
  margin-right: 15px;
  font-weight: 600;
}

.primary{
  background: linear-gradient(135deg, var(--gold), var(--red));
  color: #000;
}

.outline{
  border: 2px solid var(--gold);
  color: var(--gold);
}

/* SECTIONS */
section{
  padding: 100px 10%;
}

h2{
  color: var(--gold);
  margin-bottom: 20px;
}

/* SERVICES */
.cards{
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.card{
  background: #111;
  padding: 30px;
  border-radius: 16px;
  width: 280px;
  border: 1px solid #222;
  transition: .3s;
}

.card i{
  font-size: 40px;
  color: var(--gold);
}

.card:hover{
  transform: translateY(-8px);
  border-color: var(--gold);
}

.card span{
  color: var(--red);
  font-weight: bold;
}

/* CONTACT */
.contact-form{
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea{
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #222;
  background: #111;
  color: white;
}

.contact-form button{
  background: var(--gold);
  border: none;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  button img{
    width: 25px;
  }
}

.contact-info{
  margin-top: 30px;
  color: var(--gray);
  p img{
    width: 25px;
}
}
.contact-info p img:hover{ 
  box-shadow: 0 0 5px rgb(227, 60, 14),
    0 0 25px rgb(227, 60, 14), 0 0 50px rgb(227, 60, 14),
    0 0 100px rgb(227, 60, 14), 0 0 200px rgb(227, 60, 14);
    border-radius: 100px;
}

/* FOOTER */
.footer{
  text-align: center;
  padding: 20px;
  border-top: 1px solid #992a2a;
  color: var(--gray);
}

/* RESPONSIVO */
@media(max-width: 768px){
  .navbar{
    display: none;
  }

  .cards{
    justify-content: center;
  }

  .home h1{
    font-size: 40px;
  }
}
